# packages.conf — OS-spezifische Paket-Zuordnung
# Format: <package>  <os>   (os: both | macos | linux)

font-hack-nerd-font  both
fish       both
fzf        both
go         both
nvim       both
tmux       both
rust       both
sdkman     both
starship   both
stow       both
tree-sitter-cli  both
bat        both
eza        both
claude-code  both
copilot-cli  both
lazydocker both
lazygit    both
btop       both
himalaya   both
mongosh    both
omf        both
neofetch   both
posting    both
zoxide     both
glow       both
opencode   both
taproom    macos
